* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  background-repeat: no-repeat;
  font-family: "Comfortaa", cursive;
  font-size: 0.875em;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: teal;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: "Righteous", cursive;
}

.menu a:hover {
  scale: 1.5;
  color: rgba(55, 236, 186, 0.6);
}

.site-title {
  color: whitesmoke;
  text-align: center;
  font-family: "Righteous", cursive;
  font-size: 2.5em;
}

.site-subtitle {
  color: whitesmoke;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 1.5em;
}

.portfolio {
  padding: 2em;
}

.portfolio h2 {
  color: whitesmoke;
  font-family: "Righteous", cursive;
  margin-bottom: 1.5em;
  font-size: 2em;
  text-align: center;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
  justify-content: center;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 260px 260px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 46px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

@media (min-width: 560px) {
  figure:hover {
    scale: 1.1;
  }
}
