body, ul, li, div, a, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Righteous', cursive;
}

.bg-gif {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-image: url(../img/city.gif);
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);
  height: 100vh;
  position: fixed;
  width: 100vw;
  -webkit-filter: blur(2px);
}

.header{
  position: absolute;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  width: 100vw;
}

a {
  border: 2px solid;
  border-radius: 30px;
  color: white;
  display: block;
  font-size: 1.125rem;
  min-width: 120px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: lightblue;
}

.menu li {
  list-style: none;
}

.site-subtitle,
.site-title {
  color: white;
  text-align: center;
}

.site-title {
  font-size: 2.225rem;
  padding: 40px 0 10px 0; 
}

.site-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 100;
}