body {
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  background-size: auto 100vh;
  font-family: 'Arial';
}

.menu {
  background-color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu li {
  list-style: none;
}

.site-subtitle,
.site-title {
  color: white;
  text-align: center;
}

.site-subtitle {
  font-style: italic;
}